<nav class="navbar navbar-expand-lg bg-info-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="images/pngwing.png" width="50" height="50">
      <div style="
      margin-top:auto;
      font-size: xx-large; 
      font-weight:bold; 
      color:rgb(25, 101, 131);
      text-align:center;
      ">Get Weather</div>
    </a>
      <form class="d-flex" role="search" action="/weather" method="get">
        <input class="form-control me-1" type="search" name="city" placeholder="Enter city name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>