*{
    font-family:monospace;
}
.div-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}
.navbar-brand{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15%;
    width: 400px;
    background-color: #cff4fc;
    height: 50vh;
}